.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #2F8F9D;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

.nav-link{
    color: #B3E8E5;
}

.nav-item a{
    color: #B3E8E5;
}