<div class="content">
  <div class="row divform ">
    <form [formGroup]="form" (ngSubmit)="submit(form.value)">
        <mat-card>
          <mat-card-title>Registro</mat-card-title>
          <mat-card-subtitle>Ingresa la información necesaria para el reporte</mat-card-subtitle>
          <mat-card-content>
            <div class="row" >
              <div class="col-12 col-md-12">
                <label class="form-label">
                  Titulo
                </label>
                <input class="form-control" type="text" placeholder="Ingresa el titulo de tu publicacion" formControlName="title">
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-12">
                <label class="form-label">
                  Fecha
                </label>
                <input class="form-control" type="date" placeholder="Ingresa la fecha" formControlName="date">
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-12">
                <label class="form-label">Descripción</label>
                <textarea class="form-control" placeholder="Ingresa la descripción" formControlName="description"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-12">
                <label class="form-label">Prioridad</label>
                <input type="text" class="form-control" placeholder="Ingresa la prioridad" formControlName="priority">
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-12">
                <label class="form-label">Lugar</label>
                <input type="text" class="form-control" placeholder="Ingresa el lugar" formControlName="location">
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-12">
                <label class="form-label">Categoria</label>
                <input type="text" class="form-control" placeholder="Ingresa la categoria" formControlName="category">
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button class="btn btn-primary"type="submit">Enviar formulario</button>
          </mat-card-actions>
        </mat-card>
    </form>
  </div>
</div>
