<div class="row">
  <h1>HACKOCEAN</h1>
  <h5>La red de registros más grande de desastres marinos que existe.</h5>
</div>
<div class="row">
  <h2>Todos llevamos un heroe dentro de nosotros</h2>

  <mat-card>
    <mat-card-content>
      <div class="row">
        <span>La contaminación de los océanos es uno de los problemas ambientales a la que nos enfrentamos actualmente. Y con el paso de 
          los años se ha ido incrementado, por tal motivo es necesario implementar medidas para corregir y frenar el problema.  </span>
         <p>Salvar el oceano es una tarea dificil, pero juntos podemos lograrlo. Solo tienes que:</p>
          <div class="col-12 col-md-8">
            <p>Levantar un registro de desastre en nuestra plataforma cada vez que encuentres un problema. Es facil y rapido.</p>
          </div>
          <div class="col-12 col-md-4 imgs">
            <img mat-card-xl-image src="../assets/img1.jpg" >
          </div>
      </div>
      <div class="row" style="margin-top: 2em;">
        <div class="col-12 col-md-5 imgs">
          <img mat-card-xl-image src="../assets/img2.jpg" >
        </div>
        <div class="col-12 col-md-7">
          <p>Nos encargamos de difundir el desastre con las autoridades correspondientes y los equipos de voluntarios.</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

