.imgs{
  text-align: center;
}

h1{
  color:#22577E;
  text-align: center;
}
h2{
  color: #3BACB6;
}
h5{
  color:#C3CAD4;
  text-align: center;
}

p{
  color: #3BACB6;
}

span{
  color:#C3CAD4;
  margin-bottom: 2em;
}

.matcard{
  padding-bottom: 50px;
}